.footer {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerSocials {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footerSocials a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.footer-socials a:hover {
    color: #61dafb;
}

.footer p {
    margin: 10px 0 0;
}

  /* Responsive Design */
@media (max-width: 600px) {
    .footer {
        padding: 15px 0;
    }

    .footer-socials a {
        font-size: 20px;
        margin: 0 5px;
    }
}

