.divFiltroPaginadoRangoPrecio {
    display: flex;
    justify-content:space-between;
    margin: 0px 30px;
    margin-left: 25rem;
}

.botonFiltro {
    justify-content: center;
    width: 10%;
    font-size: 17px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.botonFiltro:hover {
    border: 1px solid black; 
    border-radius: 10px; 
}

.svgFiltro {
    height: 15px;
    width: 20px;
    margin-right: 5px;
}

.divSelectPrecioYSvg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSelectPrecioYSvg select {
    border-radius: .5rem;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: .1rem;
    cursor: pointer;
}


.svgSelect {
    height: 20px;
    margin-right: 5px;
    margin-top: 1.2rem;
    margin-bottom: 22px;
}



.contenedorCard { 
    background-color: rgba(229 231 235);
    max-width: 100%;
    flex-wrap: wrap;
}